* {
  margin: 0;
}
:root {
  --bgcolor: #1a191d;
  --bgCalq: linear-gradient(rgba(153, 110, 73, 0) 60%, #1a191d 95%);
  --links: #f1f1f1;
  --textcolor: black;
}

.contactbox {
  display: flex;
}
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vh;
}
.formbox {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--links);
  border-radius: 10px;
}
.bitmojiContact {
  width: 20vh;
}

form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
  padding: 30px 0 20px 0;
}
.submit {
  width: fit-content;
  border-radius: 50px;
  align-self: center;
  border: 2px solid var(--textcolor);
  background-color: var(--links);
  color: var(--textcolor);
  font-weight: bold;
  cursor: pointer;
}
.submit:hover {
  background-color: var(--textcolor);
  color: rgb(255, 255, 255);
}
input,
textarea {
  background-color: transparent;
  color: var(--textcolor);
  padding: 15px;
  border: none;
  border-bottom: 2px solid var(--textcolor);
  outline: none;
}

.name {
  max-width: 185px;
}

::placeholder {
  color: #bbb;
}
.np {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

textarea {
  scrollbar-width: none;
  border-radius: 3px;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
  max-height: 220px;
}
.fa-arrow-up {
  font-size: 25px;
}

@media (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactForm {
    width: 50vh;
  }
}
