:root {
  --bgcolor: #1a191d;
  --bgCalq: linear-gradient(rgba(153, 110, 73, 0) 60%, #1a191d 95%);
  --links: #f1f1f1;
  --textcolor: black;
}

.formbox {
  position: relative;
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--links);
  border-radius: 30px;
}
.bitmojiContact {
  width: 200px;
}
.formContainer {
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 20px;
}
.submit {
  width: fit-content;
  border-radius: 50px;
  align-self: center;
  border: 2px solid var(--textcolor);
  background-color: var(--links);
  color: var(--textcolor);
  font-weight: bold;
}
.submit:hover {
  background-color: var(--textcolor);
  color: rgb(255, 255, 255);
}
input,
textarea {
  background-color: transparent;
  color: var(--textcolor);
  padding: 15px;
  border: none;
  border-bottom: 2px solid var(--textcolor);
  outline: none;
}

.name {
  width: 185px;
}

::placeholder {
  color: #bbb;
}
.np {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

textarea {
  scrollbar-width: none;
  border-radius: 3px;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
  max-height: 220px;
}
.fa-arrow-up {
  font-size: 25px;
}
